<div class="left-dashboard">
    <small class="date">
        <span class="day-date">Quinta-feira</span>,
    07 dez 2023
    </small>

    <div class="dashboard-header">
        <h3>Overview</h3>
        <select name="date-select" id="date-select">
            <option value="this-month">Esse mês</option>
            <option value="this-year">Esse ano</option>
        </select>
    </div>

    <div class="box-container">
        <div class="box">
            <small>Receita</small>
            <h2>R$12K</h2>
        </div>

        <div class="box">
            <small>Eventos</small>
            <h2>12</h2>
        </div>

        <div class="box">
            <small>Pedidos</small>
            <h2>12</h2>        
        </div>
    </div>
    
    <div class="bottom-left-dashboard">
        <div class="task-list">
        <small>Lista de tarefas</small>
        <ul>
            <li>
                <button class="add-task">
                <i class="fa-solid fa-plus"></i>
                </button>
                <p>Nova tarefa...</p>
            </li>
            <li>
            </li>
        </ul>
        
    </div>

    <div class="missing-products">
        <small>Produtos em falta</small>
        <div class="product-container">
            <ul>
                <li class="product-box">
                    <div class="product-icon"></div>

                    <div class="product-text">
                        <h5>Produto 1</h5>
                        <small>Qnt: 3 un</small>
                    </div>
                </li>
                <li class="product-box">
                    <div class="product-icon"></div>

                    <div class="product-text">
                        <h5>Produto 1</h5>
                        <small>Qnt: 3 un</small>
                    </div>
                </li>
                <li class="product-box">
                    <div class="product-icon"></div>

                    <div class="product-text">
                        <h5>Produto 1</h5>
                        <small>Qnt: 3 un</small>
                    </div>
                </li>
                <li class="product-box">
                    <div class="product-icon"></div>

                    <div class="product-text">
                        <h5>Produto 1</h5>
                        <small>Qnt: 3 un</small>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
    </div>
    
</div>

<div class="client-container">
        <ul>
            <li><button class="add-client">+</button></li>
            <li>
                <div class="client-box">
                    <div class="client-icon"></div>

                    <div class="client-contact">
                        <h5>Nome do cliente</h5>
                        <small>(99)99999-9999</small>
                    </div>
                </div>
            </li>
            <li>
                <div class="client-box">
                    <div class="client-icon"></div>

                    <div class="client-contact">
                        <h5>Nome do cliente</h5>
                        <small>(99)99999-9999</small>
                    </div>
                </div>
            </li>
            <li>
                <div class="client-box">
                    <div class="client-icon"></div>

                    <div class="client-contact">
                        <h5>Nome do cliente</h5>
                        <small>(99)99999-9999</small>
                    </div>
                </div>
            </li>

        </ul>
        
    </div>