<h3>Entrar na conta</h3>
<form class="form-content" action="">
    <div class="input-box">
        <input type="name" required name="email">
        <label for="email">E-mail</label>
    </div>
    <div class="input-box">
        <input type="password" required name="password">
        <label for="password">Senha</label>
    </div>

    <a href="#" class="forgot-password">Esqueceu sua senha?</a>

    <button type="submit">Entrar</button>

    <div class="form-text">
        <small>Não tem uma conta? <a href="/admin/register">Cadastre-se</a></small>
        <small>ou</small>
        <small>Entrar como <a href="/admin">visitante</a></small>
    </div>
</form>