<div class="{{headerClass}}">
   <div class="left-content">
      <div class="icon">
         <i class="fa-regular fa-user"></i>
      </div>
      <div class="message">
         <h4>Olá, Fulana 🖐️</h4>
      </div>
         
   </div>
   <div class="right-content">
      <div class="icon">
         <i class="fa-regular fa-bell"></i>
      </div>
      <div class="icon">
         <i class="fa-solid fa-gear"></i>
      </div>
   </div>
</div>