<div class="{{navbarClass}}">
        <div class="logo">
        </div>

        <ul>
            
                <li><a class="nav-link"href="/admin/">
                <i class="fa-solid fa-house"></i>
                <p>Overview</p>
                </a></li>
            
                <li><a class="nav-link"href="/admin/calendar">
                <i class="fa-regular fa-calendar"></i>
                <p>Calendário</p>
                </a></li>
            
                <li><a class="nav-link"href="/admin/requests">
                <i class="fa-solid fa-thumbtack"></i>
                <p>Eventos</p>
                </a></li>
            
                <li><a class="nav-link"href="/admin/finance">
                <i class="fa-solid fa-chart-pie"></i>
                <p>Finanças</p>
                </a></li>
            
                <li><a class="nav-link"href="/admin/stock">
                <i class="fa-solid fa-box"></i>
                <p>Estoque</p>
                </a></li>
            
        </ul>
</div>