<nav class="{{navbarClass}}">
    <ul>
        <a href="/admin/"><li>Início</li></a>
        <a href="/admin/calendar"><li>Calendário</li></a>
        <a href="/admin/requests"><li>Pedidos</li></a>
        <a href="/admin/finance"><li>Finanças</li></a>
        <a href="/admin/stock"><li>Estoque</li></a>
    </ul>
    <ul>
        <a href="/admin/login"><li>Logar</li></a>
        <a href="/admin/register"><li>Registrar</li></a>
    </ul>
</nav>