<div class="{{navbarClass}}">
    <nav>
        <div class="content-logo">
            <div class="logo">

            </div>
        </div>
        <ul>
            <a href="/admin/">
                <li></li>
            </a>
            <a href="/admin/calendar">
                <li></li>
            </a>
            <a href="/admin/requests">
                <li></li>
            </a>
            <a href="/admin/finance">
                <li></li>
            </a>
            <a href="/admin/stock">
                <li></li>
            </a>
        </ul>
    </nav>
</div>