.custom-navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
}

.custom-navbar nav {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.custom-navbar nav .content-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.custom-navbar nav .content-logo .logo {
    width: 40px;
    height: 40px;
}

.custom-navbar nav ul {
    gap: -5px;
}

.custom-navbar nav ul a li {
    width: 40px;
    height: 40px;
}

.custom-navbar nav ul {
    list-style: none;
    padding: 0;
}
