.custom-navbar {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    gap: 60%;
    padding: 0 10px;
    font-size: 16px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}