* {
    border: 2px solid black;
    margin: 0;
    padding: 0;
}   

.content {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

nav {
    width: 7%;
}

main {
    display: flex;
    flex-direction: column;
    width: 93%;
}

header {
    height: 10%;
}

.container {
    height: 90%;
}