@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    /*Variáveis de cor*/
    --White: #fbfbfb;
    --Dark-grey: rgb(79, 76, 76);
}

*{
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
}

p, input, label, a{
    font-size: 16px;
}