
.custom-header {
    width: 100%;
    background:transparent;
    color: var(--Dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--Dark-gray-blue);
    padding-bottom: 15px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.icon:hover{
    color: var(--Bright-orange);
}

.right-content,
.left-content {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

.pop-up {
    display: none;
    position: relative;
    top: 90px;
    position: fixed;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 8px;
    height: 200px;
    width: 200px;
    background-color: var(--lempn);
}



.pop-up #close-button-settings,
.pop-up #close-button-notifications {
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#popup-notifications{
    right: 110px;
}

.message {
    display: flex;
    align-items: center;
}

@media(max-width: 590px){
    .message{
        display: none;
    }
}