
.custom-header {
    width: 100%;
    background:transparent;
    color: var(--Dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--Dark-gray-blue);
    padding-bottom: 15px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    

}

i:hover{
    color: var(--Bright-orange);
    cursor: pointer;
}

.right-content,
.left-content {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

.pop-up {
    color: white;
    display: none;
    position: relative;
    top: 90px;
    position: fixed;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 8px;
    min-width: 200px;
    max-width: auto;
    right: 20px;
    background-color: var(--Dark-gray-blue);
}

.pop-up #close-button-settings,
.pop-up #close-button-notifications {
    font-size: 1.5em;
    color: white;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.container-popup {
    display: flex;
    padding: 8px;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

.container-popup .content {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-popup .content a {
    text-decoration: none;
    color: var(--Bright-orange);
}

.itens {
    display: flex;
    align-items: center;
    gap: 10px;
}

.itens input {
    width: 16px;
    height: 16px;
}

.itens input:checked {
    background-color: var(--Bright-orange);
}

#popup-notifications{
    right: 95px;
}

.message {
    display: flex;
    align-items: center;
}

@media(max-width: 590px){
    .message{
        display: none;
    }
}