
.custom-header {
    width: 100%;
    background:transparent;
    color: var(--Dark-gray-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--Shadow);
    padding-bottom: 15px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
}

.icon:hover{
    background-color: var(--Shadow);
}

.right-content,
.left-content {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

.pop-up {
    display: none;
    transform: scaleX(-1);
    position: fixed;
    margin-left: -90px;
    border: 1px solid black;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: white;
}

.pop-up #close-button-settings,
.pop-up #close-button-notifications {
    font-size: 40px;
}

.message {
    display: flex;
    align-items: center;
}

@media(max-width: 590px){
    .message{
        display: none;
    }
}