@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url(./buttons.css);
@import url(./dark-mode.css);

:root{
    --Lemon-green: #9dcf4c;
    --Sea-green: #30af8d;
    --White: #fff;
    --Light-gray: rgb(246, 254, 255);
    --Dark-gray-green: hsl(190.38deg 62.95% 27.15%);
    --Shadow: hsla(243, 13%, 66%, 0.494);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'poppins', sans-serif;
}   

.main-content{
    width:100%;
}

body{
    color: var(--Dark-gray-blue);
    height: 100svh;
    width: 100vw;
    display: flex;
}