@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url(./buttons.css);
@import url(./dark-mode.css);

:root{
    --Dark-blue: #1d2434;
    --White: #fff;
    --Light-gray: #bfbfbf;
    --Dark-gray-blue: #292d38;
    --Bright-orange: #f8b348;
    --Shadow: hsla(243, 13%, 66%, 0.494);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'poppins', sans-serif;
}   

.main-content{
    width:100%;
}

body{
    color: var(--Dark-gray-blue);
    height: 100svh;
    width: 100vw;
    display: flex;
}