@import url(../nav.css);
@import url(../header.css);

.container{
    display: flex;
    margin-top: 15px;
    height:320px;
    border-radius: 25px;
    overflow: hidden;
}

.calendar{
    padding: 15px;
}

.month,
.weekdays,
.days{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.month{
    gap: 10px;
    font-size: 15px;
}

.weekdays{
    margin-top: 15px;
    font-size: 11px;
    gap: 17px;
}

.days{
    margin-top: 15px;
    gap:5px;
}

.day{
    border-radius: 100px;
    width:30px;
    height: 30px;
    border: 1px solid grey;
    font-size: 14px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.month>i:hover,
.day:hover{
    cursor: pointer;
    background-color: var(--Shadow);
}

.prev-date,
.next-date{
    background-color: lightgrey;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: var(--Pale-blue);
    height:auto;
}

.calendar{
    width: 268px;
}

.right{
    overflow-y: scroll;
    width: 100%;
    background-color: var(--Light-slate-blue);
    color: var(--Pale-blue);
}

.add-event-header>i{
    display:none;
}

.today-btn>button{
    margin-right: 10px;
    width: 50px;
}

.today-date,
.events,
.add-event-wrapper{
    margin: 10px 40px;
}

.event{
    display:flex;
    gap: 10px;
    align-items: center;
}

.add-event-body{
    display:flex;
}

.add-event-input{
    display: flex;
    justify-content: center;
}

.add-event-input>input{
    border-radius: 25px;
    font-size: 0.8em;
    background-color: var(--Pale-blue);
    padding: 2px 5px;
    outline: none;
    width: 70%;
}

.event>.title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.event-time{
    font-size: 0.9em;
    color:white;
}


@media (max-width:850px){
    .container{
        flex-direction: column;
        min-height: calc(100% - 70px);
        max-height: auto;
    }
    .left{
        width: 100%;
    }

    .right{
        min-height: 100%;
        max-height: auto;
        width: 100%;
    }
}