@import url(../nav.css);
@import url(../header.css);

.main-content{
    margin: 15px;
    width: 100%;
    padding: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    margin-top: 15px;
}

.top-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#showPopup,
.addProduct{
    border: none; 
    padding: 10px 15px;
    background: none;
    color: var(--Dark-gray-green);
    cursor:pointer;
    border-radius: 20px;
}

#showPopup:hover{
    background-color: var(--Shadow);
}

.pop-up-production {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 10px;
    border-radius: 20px;
    gap: 5px;
    background-color: var(--White);
}

.pop-up-production>input,
.pop-up-production>textarea{
    color: var(--Dark-gray-green);
    font-size: 0.8em;
    border-radius: 10px;
    padding:5px;
    border-style: initial;
}

#hiddenProduct {
    display: none;
}

.top-nav>h3 {
    font-size: 24px;
}

.top-nav>button {
    border-style: dashed;
    padding: 3px 30px;
    border-radius: 8px;
}

.search-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 2px solid var(--Shadow);
    gap: 5px;
    border-radius: 40px;
    background-color: transparent;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 7px;
    border-radius: 40px;
    background-color: var(--White);
}

#search-icon {
    font-size: 14px;
    background-color: var(--White);
}

.search-box input {
    height: 100%    ;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
}

.search-box input:focus {
    outline: none;
}

.bottom-container {  
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
    height: 100%;   
}

.list-stock {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    height: 89%;
    overflow-y: scroll;
}

.item {
    width: 90%;
    background-color: var(--Dark-blue);
    color: var(--Bright-orange);
    height: 250px;
    padding: 10px;
    border-radius: 8px;
}

.img-product {
    border-radius: 8px;
    background-color: var(--Shadow);
    width: 100%;
    height: 55%;
}

.description-product {
    margin: 5px 0;
    color: var(--Dark-gray-green);
    padding: 5px 0;
}

