@import url(../nav.css);
@import url(../header.css);

.container{
    display: flex;
    gap: 30px;
    margin-top: 15px;
}
.left-dashboard{
    width:68%;
}

.dashboard-header, .box-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon{
    width:40px;
    height: 40px;
}

.box-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 25px 0;
}

.box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
    min-width: 100px;
    height: 80px;
    gap:15px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.bottom-left-dashboard{
    display: flex;
    width:100%;
    height: 60%;
    gap: 30px;
}

.task-list,
.missing-products{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 20px;
    width: 50%;
    height: auto;
    background-color: white;
    overflow:scroll;
    padding: 15px;
}

.task-list>ul>li{
    display: flex;
    gap: 10px;
}

.add-task{
    padding: 0 7px;
    border-radius: 10px;
}

.product-box{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.product-icon{
    width: 60px;
    height:60px;
    background-color: grey;
}

.client-container{
    overflow:scroll;
    border-radius: 20px;
    width:32%;
    height:500px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

.client-container>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    height: auto;
}

#client-list {
    margin-top: -20px;
}

#addClient {
    width: 160px;
}

#hidden-clients {
    display: none;
}

.pop-up-clients {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 22%;
    background-color: blue;
}

.add-client{
    box-sizing: content-box;
    width: 100%;
    padding: 15px 0;
    border-radius: 15px;
    margin-top: 20px;
}

.client-box{
    display: flex;
    gap: 20px;
    align-items: center;
}

.client-icon{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: red;
}

@media (max-width: 1070px) {
    body{
        height: auto;
    }
    .container{
        flex-direction: column;
    }

    .left-dashboard{
        width:100%;
    }
}

@media (max-width: 750px){
    .bottom-left-dashboard{
        flex-direction: column;
    }

    .task-list,
    .missing-products{
    width: 90%;
    }

    .client-container{
        width:100%;
    }
}